@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cinza);
}

nav {
  max-width: 1440px;
  margin: auto;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 150px;
}

a {
  color: var(--branco);
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  color: var(--azul);
  list-style-type: none;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--azul);
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

#ola {
  color: var(--branco);
  font-family: "Poppins", sans-serif;
}

.multiple-text,
.h3multiple {
  color: var(--branco);
}

.text-gradient {
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
}

#sobrenome {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 25vh 2rem;
}

.luz {
  position: relative;
  box-shadow: 0 0 1000px 50px #1653f2;
  z-index: -100;
}

#arrow {
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centraliza a seta verticalmente */
  position: absolute;
  top: 70%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* Corrige a centralização tanto horizontal quanto vertical */
  cursor: pointer;
  animation: moveUpDown 2s infinite;
  /* Adiciona animação */
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, calc(-50% - 10px));
    /* Ajuste o valor de 10px conforme necessário */
  }
}

#arrow img {
  font-size: large;
}

/* Adiciona classe para esconder a luz quando carregado */
.backGround1.loaded .luz {
  opacity: 1;
}

/* Animação de saída */
.backGround1.leave {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}

.about img {
  border: 1px white solid;
  border-radius: 50px;
  width: 280px;
}

.about .info h2 {
  align-items: center;
  text-align: center;
  color: var(--azul);
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .info p {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--branco);

  font-size: 21px;
  font-weight: 500;
  margin-bottom: 9px;
}

.contate-btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 400;
  background-color: var(--azul);
  color: var(--branco);
  padding: 15px 15px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  margin: auto;
}

.contate-btn:hover {
  opacity: 0.8;
}

.textSkills {
  filter: drop-shadow(1px 1px 20px var(--azul));
  text-align: center;
  font-size: 52px;
  color: var(--azul);
}

.skills .info h3 {
  color: var(--branco);
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
}

.skills .item i {
  font-size: 34px;
  color: #fff;
}

/* Editação Bruno */
.habilidades {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 200px;

  border: 2px solid white;
  border-radius: 20px;

  padding: 60px;
  background-color: #ffffff14;
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
}
.item {
  padding: 3px;
  border-radius: 5px;
  background-color: #313133;
  transition: transform 0.1s;
  width: 60px;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.5);
}
/* Editação Bruno */

.servicos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
 flex-wrap: nowrap;
 

}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1653f2;
  position: relative;
  width: 280px;
  height: 380px;
  margin: auto;
 border-radius: 10px;
}
.conteudo {
  padding: 20px;
  text-align: center;

}

.servicos .card .conteudo h4 {
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.servicos .card .conteudo span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
