@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  
}


img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cinza);
 
  min-height: 100vh;
  width: 100%
  
}


.text-gradient {
  text-align: center;
  /* Centraliza o conteúdo horizontalmente */
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
}

.header-top {
  position: absolute;
  top: 39%;
  /* Ajuste conforme necessário */
  left: 25%;
  transform: translateX(-50%);
}

#ola {
  font-size: 1.9rem;
  color: var(--branco);
  font-family: "Poppins", sans-serif;
}

.h3multiple {

  position: absolute;
  top: 52%;
  /* Ajuste conforme necessário */
  left: 30%;
  transform: translateX(-50%);
  color: var(--branco);
  font-size: 1.5rem;
  /* Ajuste o tamanho conforme necessário */
  white-space: nowrap;
  /* Evita que o texto quebre para a próxima linha */
}

.multiple-text {
  font-weight: bold;
  background: linear-gradient(45deg, #1653f2, #1653f2, #1c1c92);
  
  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;

}

.luz {
  position: relative;
  box-shadow: 0 0 1000px 80px #1653f2;
  z-index: -100;
  left: 30%;


}


#sobrenome {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.backGround-container {
  max-width: 90%;
  margin: auto;
  padding: 25vh 2vw;
  z-index: 1;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 25vh 2vw;
}



#arrow {
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centraliza a seta verticalmente */
  position: absolute;
  top: 70%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* Corrige a centralização tanto horizontal quanto vertical */
  cursor: pointer;
  animation: moveUpDown 2s infinite;
  /* Adiciona animação */
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, calc(-50% - 10px));
    /* Ajuste o valor de 10px conforme necessário */
  }
}

#arrow img {
  font-size: 5rem;
}



.caixa-icons-contato {
  display: flex;
  justify-content: flex-start;
  /* Alinha os ícones à esquerda */
  padding-left: 0.3rem;
  /* Ajuste o valor conforme necessário para espaçar a partir da borda esquerda */
  position: absolute;
  /* Adiciona a posição absoluta */
  bottom: 35.5%;
  /* Ajusta a posição vertical conforme necessário */
  left: 0;
  /* Posiciona à esquerda */
}

.icons-contato {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /* Alinha os ícones à esquerda */
  padding-left: 1rem;
  /* Ajuste o valor conforme necessário para espaçar a partir da borda esquerda */
  position: absolute;
  /* Adiciona a posição absoluta */
  bottom: 5%;
  /* Ajusta a posição vertical conforme necessário */
  
  /* Posiciona à esquerda */
 
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
 
  
}

#iIcons {
  position: fixed;
  /* ou absolute, dependendo do layout */

  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-left: 0.5rem;
  color: #fff;
  font-size: 2rem;
  transition: color 0.35s ease ;
}

#iIcons:hover {


  color: var(--azul);
  
  }



  .ri-mail-line::after,
  .ri-github-fill::after {
    content: "";
    display: block;
    width: 2px;
    height: 25px;
    margin: 0 auto;
    background-color: var(--azul);
  }
  

  




  .ri-linkedin-box-fill::after {
   
    content: "";
    display: block;
    
    
    width: 2px;
    height: 50px;
    margin: 0px auto;
    background-color: var(--azul);
  }
