@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cinza);
  }


  .habilidades {
    justify-content: center;
  
    display: flex;
  text-align: center;
    align-items: center;
  
  flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
  
   padding: 2rem;
    background-color: #ffffff14;
  }
  .skills {
   margin: auto auto;
  }

  .textSkills {
    filter: drop-shadow(1px 1px 20px var(--azul));

    text-align: center;
    font-size: 3rem;
    color: var(--azul);
  }
  
  .infoSkill  {
    display: flex;
    color: var(--branco);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
  ;
  }
  
  .skills .item i {
    font-size: 34px;
    color: #fff;
  }



  .icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .item {
    padding: 3px;
    border-radius: 5px;
    background-color: #313133;
    transition: transform 0.1s;
    width: 60px;
  }
  .item:hover {
    cursor: pointer;
    transform: scale(1.5);
  }