@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cinza);
    min-width: 100vw;
    width: 100%;
    height: 100dvh;
  }




.Titulo-servico {
  
  margin-top: 8vh;
    filter: drop-shadow(1px 1px 20px var(--azul));
    text-align: center;
    font-size: 2rem;
    color: var(--azul);
 
  
  }
  .cards {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin: 2rem auto;
    flex-wrap: wrap; /* Adiciona flex-wrap para melhor responsividade */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #29292996;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    padding: 40px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .card img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 90px;
    object-fit: center;
    object-position: center;
  }
  
  .card-conteudo > span {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fff;
  }
  
  .card p {
    font-size: 15px;
    color: #fff;
  }
  
  .card .card-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }
  .linha-horizontal {
    border: none;
    border-top: 2px solid #000; /* Cor e espessura da linha */
    
    width: 100%; /* Largura da linha */
}

@media (max-width: 768px) {
.cards {
  justify-content:center ;
  
  align-items: center;
  flex-direction: column;
}
}