

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    --cinza : #232121;
    --branco:  #fff ; 
    --preto : #000;
    --azul: #1451EF;

}

@font-face {
    font-family: 'MohrRoundedAlt';
    src: url('./fonts/MohrRoundedAlt-Bold.ttf') format('truetype'),
         url('./fonts/MohrRoundedAlt-Medium.ttf') format('truetype'),
         url('./fonts/MohrRoundedAlt-Regular.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MohrRoundedAlt';
    src: url('./fonts/MohrRoundedAlt-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MohrRoundedAlt';
    src: url('./fonts/MohrRoundedAlt-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  

