@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cinza);
  }

  img {
    display: flex;
    width: 100%;
    
  }


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 50px;
  }
  
  .about img {
   
    border: 1px white solid;
    border-radius: 15px;
 
    width: 20vw;
  
  }
  
  
  .aboutMe {
    position: relative;
    display: inline-block; /* Garante que o pseudo-elemento se ajuste ao texto */
   
   
    content: '';
    align-items: center;
    text-align: center;
    color: var(--azul);
    font-size: 40px;
    font-weight: 500;
     ;
     
    
  }

  .aboutMe::after {
    content: '';
    position: absolute;
    bottom: 10px; /* Ajuste a posição vertical conforme necessário */
    left: 0;
    width: 35%; /* Define o comprimento do traço como 20% da largura do texto */
    height: 3px; /* Altura do traço */
    background-color: var(--azul); /* Cor do traço */
   

  }

.info {
 
 flex-direction: column;
  

}
  
  .about .info p {
    display: flex;
    
    align-items: center;
    text-align: center;
    color: var(--branco);
  width: 50vw;
  height: 20vh;
  
    
    
  
    
 
    
  }
  
  .contate-btn {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: small;
    font-weight: 200;
    background-color: var(--azul);
    color: var(--branco);
    padding: 12px 12px;
    border-radius: 10px;
   
    cursor: pointer;
   justify-content: flex-start;
  

 
  }
  
  .contate-btn:hover {
    opacity: 0.8;
   
  }
  