@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cinza);
}
nav {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   gap: 2rem;
    
}
.nav-logo {
   max-width: 150px; 
}

a {
    color: var(--branco);
    text-decoration: none;
    margin-right: 20px;
   

}

a:hover {
    color: var(--azul);
    list-style-type: none;
text-decoration: none;
}


.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
   left: 0;
    background-color: var(--azul);
    transition: all 0.3s ease;
}
.link a:hover::after {
width: 70%;

}

.container {
    max-width: 1440px;
}
#ola {
    color: var(--branco);
    font-family: 'Poppins', sans-serif;
}
.multiple-text, .h3multiple {
    color: var(--branco);

}

.text-gradient {
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
  }
  #sobrenome {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(45deg,  #fff, #1653F2, #1653F2 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }