@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  
}


img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cinza);
  min-height: 100vh;
  width: 100%;
}

.backGround-container {
  height: 100vh; /* Altura igual à altura da tela */
  width: 100%;
  padding: 25vh 0vw; /* Espaçamento interno */
}

.containerTitle {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}




#ola {
  font-size: 15px;
  color: var(--branco);
}

#text-gradient {
  text-align: center;
  font-size: 70px;
  margin-right: 1vw;
  color: #fff;
  font-weight: bold;
}

.h3multiple {
  font-size: 20px;
  color: var(--branco);

}
.span {
  text-align: left;
}
.multiple-text {
  font-weight: bold;
  background: linear-gradient(45deg, #1653f2, #1653f2, #1c1c92);
  font-size: 20px;
  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
}

#sobrenome {
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  gap: 1vw;
}




.luz {
  position: absolute;
  box-shadow: 0 0 150px 50px #1653f2;
  z-index: -100;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Certifique-se de que a luz não interfere nos eventos de ponteiro */
  background: transparent; /* Certifique-se de que o fundo é transparente */
  width: 5%;

}












#arrow {
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centraliza a seta verticalmente */
  position: absolute;
  top: 70%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* Corrige a centralização tanto horizontal quanto vertical */
  cursor: pointer;
  animation: moveUpDown 2s infinite;
  /* Adiciona animação */
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, calc(-50% - 10px));
    /* Ajuste o valor de 10px conforme necessário */
  }
}

#arrow img {
  font-size: 5vh;
}



.caixa-icons-contato {
  display: flex;
  justify-content: flex-start;
  /* Alinha os ícones à esquerda */
  padding-left: 0.3rem;
  /* Ajuste o valor conforme necessário para espaçar a partir da borda esquerda */
  position: absolute;
  /* Adiciona a posição absoluta */
  bottom: 35.5%;
  /* Ajusta a posição vertical conforme necessário */
  left: 0;
  /* Posiciona à esquerda */
}

.icons-contato {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /* Alinha os ícones à esquerda */
  padding-left: 1rem;
  /* Ajuste o valor conforme necessário para espaçar a partir da borda esquerda */
  position: absolute;
  /* Adiciona a posição absoluta */
  bottom: 5%;
  /* Ajusta a posição vertical conforme necessário */
  
  /* Posiciona à esquerda */
 
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
 
  
}


#iIcons {
  position: fixed;
  /* ou absolute, dependendo do layout */

  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-left: 0.5rem;
  color: #fff;
  font-size: 2rem;
  transition: color 0.35s ease ;
}

#iIcons:hover {

 

  color: var(--azul);
  
  }
  

  .ri-linkedin-box-fill::after {
   
    content: "";
    display: block;
    
    
    width: 2px;
    height: 50px;
    margin: 0px auto;
    background-color: var(--azul);
  }
@media (max-width:1200px) {

  #text-gradient {
    text-align: center;
    font-size: 50px;
    margin-right: 1vw;
    color: #fff;
    font-weight: bold;
  }
  #sobrenome {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    gap: 1vw;
  }

}
  @media (max-width: 768px) {

    #ola {
      display: flex;
      justify-content: start;
      margin-left: 15px;
      font-size: 15px;
      color: var(--branco);
    }

    #text-gradient {
      text-align: center;
      font-size: 30px;
    margin-left: 15px;
      color: #fff;
      font-weight: bold;
    }
    .h3multiple {
      font-size: 15px;
      color: var(--branco);
    
    }
    .span {
      text-align: left;
    }
    .multiple-text {
      font-weight: bold;
      background: linear-gradient(45deg, #1653f2, #1653f2, #1c1c92);
      font-size: 15px;
      color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
    }
    
    #sobrenome {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      gap: 1vw;
    }
    #iIcons {
      font-size: 1rem;
    }
    .icons-contato {
      display: none;
    }
  }
  @media (max-width: 390px) {
    #ola {
      display: flex;
      justify-content: start;
      margin-left: 15px;
      font-size: 10px;
      color: var(--branco);
    }

    #text-gradient {
      text-align: center;
      font-size: 25px;
    margin-left: 15px;
      color: #fff;
      font-weight: bold;
    }
    .h3multiple {
      font-size: 10px;
      color: var(--branco);
    
    }
    .span {
      text-align: left;
    }
    .multiple-text {
      font-weight: bold;
      background: linear-gradient(45deg, #1653f2, #1653f2, #1c1c92);
      font-size: 12px;
      color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
    }
    
    #sobrenome {
      font-size: 20px;
      font-weight: bold;
      background: linear-gradient(45deg, #1653f2, #1653f2, #373760);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      gap: 1vw;
    }
    #iIcons {
      font-size: 1rem;
    }
    .icons-contato {
      display: none;
    }
   }